@import views.ObjectBuilder
@import java.sql.Clob
@( parameters: String="", id: String, labelText: String = "")
@objects.label(
    id,
    "",
    parameters,
    ObjectBuilder.getId(),
    labelText
)
<select id = "@id">
    @for(s <- parameters.split("&")) {
        <option>@s</option>
    }
</select>